_site
.sass-cache
.jekyll-cache
.jekyll-metadata

## Bundler
vendor/
.bundle/

# rbenv will use this file if "rbenv local" is used
.ruby-version

## IDE
.settings
.project
.buildpath
.idea

## OS related
*.DS_Store
