---
layout: default
title:  Downloads 
description: List of releases available for download 
---

%h1 Downloads
.download-table
  %table{:width=>"100%"}
    %thead
      %th Version
      %th Date
      %th Description
      %th License
      %th Size
      %th Format

    %tbody
      %tr
        %td 8.0.0.Alpha1
        %td 2013-05-17
        %td Application Server Distribution
        %td LGPL
        %td{:class=>"download-table-right"} 129 MB
        %td{:class=>"download-table"}
          %a{:href=>"http://download.jboss.org/wildfly/8.0.0.Alpha1/wildfly-8.0.0.Alpha1.zip"} ZIP
      %tr
        %td
        %td 
        %td 
        %td  
        %td{:class=>"download-table-right"} 118 MB
        %td{:class=>"download-table"}  
          %a{:href=>"http://download.jboss.org/wildfly/8.0.0.Alpha1/wildfly-8.0.0.Alpha1.tar.gz"} TGZ
      %tr
        %td 
        %td 
        %td Application Server Source Code 
        %td LGPL 
        %td{:class=>"download-table-right"}  26 MB
        %td{:class=>"download-table"} 
          %a{:href=>"http://download.jboss.org/wildfly/8.0.0.Alpha1/wildfly-8.0.0.Alpha1-src.zip"} ZIP
      %tr
        %td
        %td  
        %td  
        %td 
        %td{:class=>"download-table-right"} 15 MB
        %td{:class=>"download-table"}
          %a{:href=>"http://download.jboss.org/wildfly/8.0.0.Alpha1/wildfly-8.0.0.Alpha1-src.tar.gz"} TGZ
      %tr
        %td 
        %td 
        %td Quick Start Source Code
        %td AL 
        %td{:class=>"download-table-right"} 15 MB
        %td{:class=>"download-table"}
          %a{:href=>"http://download.jboss.org/wildfly/8.0.0.Alpha1/quickstart-8.0.0.Alpha1.zip"} ZIP
      %tr
        %td 
        %td 
        %td Release Notes
        %td  
        %td
        %td
          %a{:href=>"https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12313721&version=12321680"} link


%br
%br
