---
layout: project
title: Governance
---

.row-fluid
  .hero-unit
    %h1 Governance
  .row-fluid
    .span12.well.post-bg
      %h3 Stewardship
      %p
        This project is developed and released by Red Hat with assistance from the Java developer community.
        The project lead is appointed by Red Hat, and has the power to accept and reject contributions to the project and set the roadmap.
        Red Hat employees assigned to work on WildFly as well as community contributors, in this regard, all answer to the project lead.
      %h3 Requirement Definition
      %p
        The requirements and roadmap for WildFly are driven by Red Hat and by the community.
        Typically, when a major release is being planned, the project lead will take input from both Red Hat and the community, and evaluate what can be done in the necessary time.
        This will define what features will be addressed in a given release.
        The project lead will then publish the roadmap on the developers mailing list, and update the version information in JIRA.
      %p
        WildFly is the basis for the commerical (yet open source)
        %a{:href => "http://www.redhat.com/products/jbossenterprisemiddleware/"} JBoss Enterprise Application Platform
        product, so many requirements for WildFly come from its users. However, all requirements are fed into the same community process that our community users follow. We create JIRAs for all
        feature requests on our schedule.
      %p
        If you are interested in EAP you can download it for free on the
        %a{:href => "https://www.jboss.org/products/eap.html"} JBoss.ORG website.
      %p
        The best way for you to suggest requirements for a future release of WildFly is to enter a feature request in 
        %a{:href=>"http://issues.jboss.org/browse/WFLY"} JIRA.
        Lobbying for features using the voting feature in JIRA, and posting to the community forums, is a great way to express interest as well. Although, contributing is the single most expedient way to get a capability into a particular release.
      %h3 Release Cycle
      %p
        WildFly releases frequently, and is aiming to deliver new final major versions in around a nine month cycle. We also deliver frequent milestones, typically one a month, and provide a nightly build for those that wish to be on the bleeding edge.
      %h3 Contribution
      %p
        WildFly welcomes, thrives on and greatly values community contribution. Please see our 
        %a{:href => "#{site.base_url}/joinus/"} "Join Us"
        page for more information on how to contribute to WildFly.
