---
layout: project
title: WildFly Homepage
---

/ Main hero unit for a primary marketing message or call to action
.row-fluid
  / Main hero unit for a primary marketing message or call to action
  #myCarousel.carousel.slide
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
    / Carousel items
    .carousel-inner
      .active.item
        %a{:href => "/downloads.html"}
          %img(src="/images/8beta1.png")
      .item
        %a{:href => "/about"}
          %img(src="/images/wildflynewimproved.png")
      .item
        %a{:href => "http://www.redhat.com/jboss", :target=>"_NEW"}
          %img(src="/images/wantsupport.png")
    / Carousel nav
    %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
    %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›


/ section containing blog posts
.row-fluid
  = partial( 'latest-news.html.haml', {"real_page" => page} )
  = partial( 'tweets.html.haml' )
