<div class="grid-wrapper news-list-blocks">
  <div class="grid__item width-12-12">
    <h3>Latest News</h3>
  </div>
  {#for post in site.collections.posts}
    {#if post_index < 8}
      <div class="news-block-item grid__item width-3-12">
        <div class="post-title grid__item">
          <h4><a href="{post.data.external_link ?: post.url}" {#if post.data.containsKey('external_link')}target="_blank"{/if}>{post.title}</a></h4>
        </div>
        <p class="byline">By {cdi:authors.buildAuthorList(post).join(",")} | {post.date.format('LLLL d, YYYY')}</p>
        {#if post.data.containsKey('synopsis')}
          <p>{post.data.synopsis.stripHtml}</p>
        {#else}
          <p>{site.pageContent(post).stripHtml.wordLimit(75).raw}</p>
        {/if}
        {#let pageUrl = post.data.external_link.or(post.url.path)}
        <a href="{pageUrl}" {#if post.data.containsKey('external_link')}target="_blank"{/if}>
          {#if pageUrl.contains('youtube')}
          Watch Video >
          {#else}
          Read More >
          {/if}
        </a>
        {/let}
      </div>
    {/if}
  {/for}
</div>
