{!
Example for a teaser *before* the WildFly Mini Conference
<div class="grid__item width-12-12 home-section">
  <h2>Save the date!</h2>
  <h3>We're hosting our next conference on<br/>Wednesday, November 20</h3>
  <h3><a href="{site.url('events/wmc-202411.html')}">Wild<strong>Fly</strong> Mini Conference</a></h3>
</div>
!}
{!
Example for a teaser *after* the WildFly Mini Conference
<div class="grid__item width-12-12 home-section">
  <h2>Watch again and give feedback!</h2>
  <h3>We’ve hosted our last conference on<br/>Wednesday, November 20</h3>
  <h3><a href="{site.url('events/wmc-202411.html')}">Wild<strong>Fly</strong> Mini Conference</a></h3>
</div>
!}
<div class="grid__item width-12-12 home-section">
  <h2>Watch again and give feedback!</h2>
  <h3>We've hosted our last conference on<br/>Tuesday, March 25</h3>
  <h3><a href="{site.url('events/wmc-202503.html')}">Wild<strong>Fly</strong> Mini Conference</a></h3>
</div>
