---
layout: base
---

<div class="about-page grid-wrapper">
  <div class="grid__item width-12-12">
    <h1>About the Project</h1>
    <h2 class="page-subtitle">Wild<strong>Fly</strong> is a flexible, lightweight, managed application runtime that helps you build amazing applications.</h2>
  </div>
  <div class="grid__item width-12-12 sec-title-red">
    <h2>SAVE TIME WITH FASTER DEVELOPMENT</h2>
    <p>Wild<strong>Fly</strong> supports the latest standards for REST based data access, including Jakarta RESTful Web Services, Jakarta JSON Processing and Jakarta Data.<br/><br/>Building on EE provides rich enterprise capabilities in easy to consume frameworks that eliminate boilerplate and reduce technical burden.<br/>The quick boot of Wild<strong>Fly</strong> combined with the easy-to-use Arquillian framework allows for test driven development using the real environment your code will be running in. Your test code is separate and simply deployed along side your application where it has full access to server resources.</p>
  </div>
  <div class="grid__item width-12-12 sec-title-yellow">
    <h2>SAVE RESOURCES WITH EFFICIENT MANAGEMENT</h2>
    <p>Wild<strong>Fly</strong> takes an aggressive approach to memory management and is based on pluggable subsystems that can be added or removed as needed.<br/><br/>The quick boot of Wild<strong>Fly</strong> combined with the easy-to-use Arquillian framework allows for test driven development using the real environment your code will be running in. Your test code is separate and simply deployed alongside your application where it has full access to server resources.<br/><br/>Configuration in Wild<strong>Fly</strong> is centralized, simple and user-focused. The configuration file is organized by subsystems that you can easily comprehend and no internal server wiring is exposed. Subsystems use intelligent defaults, but can still be customized to best fit your needs. If you are running in domain mode, the configuration for all servers participating in the domain is specified in a well-organized manner within the same file.</p>
  </div>
  <div class="grid__item width-12-12 sec-title-teal">
    <h2>SAVE MONEY WITH OPEN SOURCE</h2>
    <p>Wild<strong>Fly</strong> is an open source community project sponsored by the Commonhaus Foundation.  Wild<strong>Fly</strong> is fully open. All components are open source and follow a community-focused development process.
    <br/><br/>Wild<strong>Fly</strong> follows a roughly time-boxed development model, producing a major or minor release every three to four months. In nearly all cases this will be a major release; minors are rarely produced. The use of a minor version indicates a smaller than typical number of changes, likely because the team is working in the background on a large scale change that can't be implemented in a normal release cycle.
    <br/><br/>If we ever choose to move temporarily away from our practice of producing a major or minor every three to four months, we will announce that in a post in the <a href="/news/">news section</a> of this site.
    <br/><br/>For each major or minor we produce a beta about two weeks before the final release.
    <br/><br/>Approximately a month after each major or minor release we will produce a micro, bug-fix-only release. Once we release the final version of a new major or minor, our practice is to no longer produce bug-fix releases for the previous series.
    <br/><br/>Planned release dates can be seen in the Wild<strong>Fly</strong> <a href="/events/#calendar">project calendar</a>. Note that release plans can change at any time.
    <br/><br/>Wild<strong>Fly</strong> endeavors to keep up with the broader enterprise Java ecosystem, moving forward with our support for Java SE versions and enterprise Java standards. Within that broader context, however, we take great pains to maintain compatibility over time.
    <br/><br/>Currently, we maintain the WildFly {cdi:metadata.latest_feature_release} series, and expect to continue doing so until the WildFly {cdi:metadata.next_feature_release} release in {cdi:metadata.next_feature_release_date}. All previous releases of WildFly are no longer maintained.
    <br/><br/>We encourage users interested in end-of-life support offerings for Wild<strong>Fly</strong> to investigate the <a href="https://www.commonhaus.org/about/ossi.html" target="_blank" rel="noopener">Commonhaus Foundation Open Source Sustainability Initiative</a>.
    <br/><br/>The Commonhaus Foundation Open Source Sustainability Initiative (OSSI) recognizes organizations that take responsibility for the security and stability of open source software beyond its end-of-life (EOL). For organizations that depend on EOL software but cannot yet upgrade, OSSI partners provide continued security support and compatibility fixes.</p>
  </div>
</div>
