---
twitter: WildFlyAS
---

<!DOCTYPE html>
<html>

<head>
  <title>{page.title}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{page.description ?: site.description}">
  <link rel="me" href="https://fosstodon.org/@wildflyas" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40221748-1"></script>
  {|
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-40221748-1');
  </script>
  |}
  <link rel="shortcut icon" type="image/png" href="{site.url('/favicon.ico')}"/>

  {#if page.data.containsKey('external_link')}
  <meta http-equiv="refresh" content="0; {page.data.external_link}">
  {/if}

  {#seo page site /}
  {#rss site /}
  {#bundle /}

  <style>
      .homepage {
          background-image: url({site.url('/assets/img/wildfly_hero_r3v1.jpg')});
      }
      .home-icons {
          a {
              &.github:before { content: url({site.url('/assets/img/homepage/wildfly_icons_home-github.png')}); }
              &.docs:before { content: url({site.url('/assets/img/homepage/wildfly_icons_home-docs.png')}); }
              &.forums:before { content: url({site.url('/assets/img/homepage/wildfly_icons_home-forums.png')}); }
          }
      }
  </style>

</head>

<body class="{page.data('bodyClass') ?: ''}">
  <div class="content">
    {#include partials/header.html /}
    {#insert /}
  </div>

  {#include partials/project-footer.html /}
  {#include partials/commonhaus-footer.html /}
  <script type="text/javascript">
    if (("undefined" !== typeof _satellite) && ("function" === typeof _satellite.pageBottom)) {
        _satellite.pageBottom();
    }
  </script>

</body>

</html>
