---
layout: base
---
<div class="grid-wrapper events">
  {|
  <div class="grid__item width-10-12 width-12-12-m">
    <h1>Wild<strong>Fly</strong> Events</h1>
    <h2 class="page-subtitle">
      This page will show the upcoming events of note for Wild<strong>Fly</strong>.
      You will find here that we are sharing a team calendar and some details related to Wild<strong>Fly</strong> conferences.
    </h2>
    <h2 id="calendar">Wild<strong>Fly</strong> Calendar</h2>
    <div id="wildfly-org-calendar-container" style="margin: 3em 0 1.5rem"></div>
    <div class="admonitionblock note">
      <table>
        <tbody><tr>
          <td class="icon"><div class="title">Note</div></td>
          <td class="content" style="width: 100%">
            <p>Use this link to subscribe to upcoming events by adding our public calendar to your calendar app:</p>
            <p class="calendar-ics"><a href="https://calendar.google.com/calendar/ical/wildflyorg%40gmail.com/public/basic.ics">https://calendar.google.com/calendar/ical/wildflyorg%40gmail.com/public/basic.ics</a></p>
          </td>
        </tr></tbody>
      </table>
    </div>
    <script type="text/javascript">
      const options = {
        src: 'wildflyorg%40gmail.com',
        ctz: Intl.DateTimeFormat().resolvedOptions().timeZone,
        showCalendars: '0' // it's only one calendar, so hide the calendar selector
      };
      let query = Object.entries(options).map(([key, value]) => `${key}=${value}`).join('&');
      const url = `https://calendar.google.com/calendar/embed?${query}`;
      const style = 'display:block;border:none;width:100%;';
      const attributes = 'width="100%" height="600"';
      const iframe = `<iframe src="${url}" style="${style}" ${attributes}></iframe>`;
      document.getElementById('wildfly-org-calendar-container').innerHTML = iframe;
    </script>
  </div>
  |}

  <div class="grid__item events-toc">
    <h3>On this page</h3>
    <ul>
      <li><a href="#calendar">WildFly Calendar</a></li>
      <li>
        <a href="#conferences">WildFly Conferences</a>
        <ul>
          <li><a href="#next-events">Upcoming</a></li>
          <li><a href="#previous-events">Previous</a></li>
        </ul>
      </li>
    </ul>
    <hr/>
  </div>

  <div class="grid__item width-10-12 width-12-12-m">
    <h2 id="conferences">Wild<strong>Fly</strong> Conferences</h2>
  </div>

  <div class="grid__item width-10-12 width-12-12-m sec-title-yellow">
    <h2 id="next-events" style="margin-top: 0">Next Events</h2>
    {#for event in site.collections.events.group("event-type").get("wmc")}
    {#let confData=cdi:conferences.get(event)}
    {#if confData.status == "planning"}
    <div class="event">
      <div class="event-details">
        <h3 id="{confData.key}">{confData.date.format("LLLL YYYY")}</h3>
        <p>We're planning our next event for <strong>{confData.date.format("LLLL YYYY")}</strong>. We will update this
            page as soon as the planning is complete and the agenda is finalized. Stay tuned!</p>
      </div>
      {#else if confData.status == "preview"}
      <div class="event-details">
        <h3 id="{confData.key}"><a href="{event.url}">{confData.date.format("LLLL YYYY")}</a></h3>
        <p>The next conference is planned for <strong>{confData.date.format("EEEE, LLLL d, YYYY")}</strong>.</p>
        <ul>
          {#for session in confData.sessions}
          {#if session.type == "talk"}
          <li>{session.title}</li>
          {/if}
          {/for}
        </ul>
      </div>
    </div>
    {/if}
    {/let}
    {/for}
  </div>

  <div class="grid__item width-10-12 width-12-12-m sec-title-red">
    <h2 id="previous-events" style="margin-top: 0">Previous Events</h2>
    {#for event in site.collections.events.sortEvents()}
    {#if event.data('event-type') == "wmc"}
    {#let confData=cdi:conferences.get(event)}
    {#if confData.status == "done"}
    <div class="event">
      <div class="event-video">
        <iframe class="youtube-video" style="border: none"
                src="https://www.youtube.com/embed/{confData.videoId}"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
      </div>
      <div class="event-details">
        <h3 id="{confData.key}"><a href="{event.url}">{confData.date.format("LLLL YYYY")}</a></h3>
        <ul>
          {#for session in confData.sessions}
          {#if session.type == "talk"}
          <li>{session.title}</li>
          {/if}
          {/for}
        </ul>
      </div>
    {/if}
    </div>
    {/let}
    {/if}
    {/for}
  </div>
</div>

