---
layout: project
title: WildFly News
---
.row-fluid
  .span8
    - for post in page.posts
      .row-fluid
        .span12.well.post-bg
          = partial('post.html.haml', {"post" => post})
    .pagination.no-bottom-margin
      %ul
        %li{:class=>('disabled' unless page.posts.previous_page)}
          %a{:href=>page.posts.previous_page ? page.posts.previous_page.url : '#'} &laquo; Newer
        %li
          %a(href="#")<= "Page " + (page.posts.current_page_index + 1).to_s + " of " + page.posts.pages.size.to_s
        %li{:class=>('disabled' unless page.posts.next_page)}
          %a{:href=>page.posts.next_page ? page.posts.next_page.url : '#'} Older &raquo;
  .span4
    .row-fluid
      = partial('latest-news-sidebar.html.haml')
    .row-fluid
      .span12.well.post-bg
        %h2 All Tags
        = site.posts_tag_cloud
