<div class="header navigation">
  <div class="logo-wrapper">
    <a href="{{site.baseurl}}/"><img class="wf-logo" src="{{site.baseurl}}/assets/img/wildfly_icons_one-color-logo.png"></a>
  </div>
  <div class="nav-container">
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a href="{{site.baseurl}}/" class="{% if page.url == '/' %}active{% endif %}">Home</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/downloads/" class="{% if page.url contains '/downloads/' %}active{% endif %}">Downloads</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/news/" class="{% if page.url contains '/news/' %}active{% endif %}">News</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/about/" class="{% if page.url contains '/about/' %}active{% endif %}">About</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/contribute/" class="{% if page.url contains '/contribute/' %}active{% endif %}">Contribute</a>
        </li>
        <li>
            <a target="_blank" href="https://docs.wildfly.org">Docs</a>
        </li>
        <li>
          <a class="button-cta secondary" href="https://github.com/wildfly/wildfly/fork" target="_blank">Fork</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
