<div class="grid-wrapper news-list-blocks">
  <div class="grid__item width-12-12">
    <h3>Latest News</h3>
  </div>
  {% for post in site.posts %}
    {% assign author = site.data.authors[post.author] %}
    {% if forloop.index <= 8 %}
      <div class="news-block-item grid__item width-3-12">
        <div class="post-title grid__item">
          <h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4>
        </div>
        <p class="byline">By {{ author.name }} | {{ post.date | date: '%B %d, %Y' }}</p>
        {% if post.synopsis %}
          <p>{{ post.synopsis | strip_html }}</p>
        {% else %}
          <p>{{ post.content | strip_html | truncatewords: 75 }}</p>
        {% endif %}
        <a href="{{site.baseurl}}{{ post.url }}">Read More ></a>
      </div>
    {% endif %}
  {% endfor %}
</div>
