.span12.well.post-bg
  %h2 
    Latest News
    %a.rss{:href => "#{site.base_url}/news.atom"}
      %i.icon-rss
  %ul.listPosts
    - for post in site.posts[0, 5]
      %li
        %span.name<= lookup_name(post.author)
        %span.meta<= post.date.strftime('%b %d, %Y')
        %a{:href => "#{site.base_url}#{post.url}"}= post.title
    %li
      %a.pull-right{:href=>"#{site.base_url}/news"} More &raquo;


