-# Latest news - reads an RSS feed of forum posts from https://community.jboss.org/en/wildfly/view-browse-feed.jspa?browseSite=place-content&browseViewID=placeContent&userID=2095&containerType=14&containerID=2057&filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D
- real_page = page["real_page"]
.span12.well
  %h2 What is WildFly?
  %p WildFly is a flexible, lightweight, managed application runtime. WildFly provides JVM based applications with a set of common services and useful APIs, most notably Java EE7.  Java EE7 improves developer productity by providing rich enterprise capabilities in easy to consume frameworks that eliminate boiler plate and reduce technical burden, allowing the developer to focus on the core business problem. WildFly can be deployed and manaaged as individual standalone JVMs, or as an organized domain of many JVMs with a central control point. WildFly includes a number of advanced clustering features including load balancing, distributed replication, and HA failover.
