// I gather this file is a starting point for the project.
 @import "bootstrap";



// Include responsive Bootstrap styles
// @import "bootstrap-responsive";


@font-face {
  font-family: 'TitilliumText22LThin';
  src: url("../font/TitilliumText22L001-webfont.eot");
  src: url("../font/TitilliumText22L001-webfont.eot?#iefix") format("embedded-opentype"), url("../font/TitilliumText22L001-webfont.woff") format("woff"), url("../font/TitilliumText22L001-webfont.ttf") format("truetype"), url("../font/TitilliumText22L001-webfont.svg#TitilliumText22LThin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumText22LLight';
  src: url("../font/TitilliumText22L002-webfont.eot");
  src: url("../font/TitilliumText22L002-webfont.eot?#iefix") format("embedded-opentype"), url("../font/TitilliumText22L002-webfont.woff") format("woff"), url("../font/TitilliumText22L002-webfont.ttf") format("truetype"), url("../font/TitilliumText22L002-webfont.svg#TitilliumText22LLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumText22LRegular';
  src: url("../font/TitilliumText22L003-webfont.eot");
  src: url("../font/TitilliumText22L003-webfont.eot?#iefix") format("embedded-opentype"), url("../font/TitilliumText22L003-webfont.woff") format("woff"), url("../font/TitilliumText22L003-webfont.ttf") format("truetype"), url("../font/TitilliumText22L003-webfont.svg#TitilliumText22LRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumText22LMedium';
  src: url("../font/TitilliumText22L004-webfont.eot");
  src: url("../font/TitilliumText22L004-webfont.eot?#iefix") format("embedded-opentype"), url("../font/TitilliumText22L004-webfont.woff") format("woff"), url("../font/TitilliumText22L004-webfont.ttf") format("truetype"), url("../font/TitilliumText22L004-webfont.svg#TitilliumText22LMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumText22LBold';
  src: url("../font/TitilliumText22L005-webfont.eot");
  src: url("../font/TitilliumText22L005-webfont.eot?#iefix") format("embedded-opentype"), url("../font/TitilliumText22L005-webfont.woff") format("woff"), url("../font/TitilliumText22L005-webfont.ttf") format("truetype"), url("../font/TitilliumText22L005-webfont.svg#TitilliumText22LBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumText22LXBold';
  src: url("../font/TitilliumText22L006-webfont.eot");
  src: url("../font/TitilliumText22L006-webfont.eot?#iefix") format("embedded-opentype"), url("../font/TitilliumText22L006-webfont.woff") format("woff"), url("../font/TitilliumText22L006-webfont.ttf") format("truetype"), url("../font/TitilliumText22L006-webfont.svg#TitilliumText22LXBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 26, ../sass/modules/_nav.scss */
nav {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px 0 20px 0;
  text-align: center;
}
/* line 30, ../sass/modules/_nav.scss */
nav a.brand {
  letter-spacing: 1px;
  color: #f4f4f4;
  font-size: 32px;
  font-weight: 900;
  font-family: "TitilliumText22LRegular", sans-serif;
  text-transform: uppercase;
  -webkit-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
}
/* line 38, ../sass/modules/_nav.scss */
nav a.brand:hover {
  color: #c0e4ff;
  text-decoration: none;
}

/* line 54, ../sass/modules/_header.scss */
header {
  background-color: #222222;
  background: url("../images/bg2.jpg") center no-repeat;
}
/* line 57, ../sass/modules/_header.scss */
header section {
  padding: 20px 0;
  text-align: center;
}
/* line 60, ../sass/modules/_header.scss */
header section h1, header section h2 {
  color: white;
  font-family: "TitilliumText22LRegular", sans-serif;
}
/* line 64, ../sass/modules/_header.scss */
header section h1 {
  font-weight: 400;
  text-shadow: 2px 2px 5px #424242;
}
/* line 68, ../sass/modules/_header.scss */
header section h2 {
  font-weight: 300;
  text-shadow: 2px 2px 5px #424242;
  font-size: 4em;
}

/* line 78, ../sass/modules/_header.scss */
header.secondary {
  background-color: #222222;
  background: url("../images/bg2.jpg") center no-repeat;
}
/* line 81, ../sass/modules/_header.scss */
header.secondary section {
  padding: 20px 0;
  text-align: center;
}
/* line 84, ../sass/modules/_header.scss */
header.secondary section h1, header.secondary section h2 {
  color: white;
  font-family: "TitilliumText22LRegular", sans-serif;
}
/* line 88, ../sass/modules/_header.scss */
header.secondary section h1 {
  font-weight: 400;
  text-shadow: 2px 2px 5px #424242;
}
/* line 92, ../sass/modules/_header.scss */
header.secondary section h2 {
  font-weight: 300;
  text-shadow: 2px 2px 5px #424242;
  font-size: 4em;
}

/* line 24, ../sass/modules/_article.scss */
article {
  background: #4a5d75;
  padding: 20px 0 40px 0;
  border-top: 1px solid #424242;
}
/* line 29, ../sass/modules/_article.scss */
article ul {
  margin: 0;
  padding: 0;
}
/* line 32, ../sass/modules/_article.scss */
article ul li {
  text-align: center;
  padding-top: 20px;
  color: white;
}
/* line 36, ../sass/modules/_article.scss */
article ul li i {
  color: white;
  font-size: 40px;
  text-shadow: 0 0 1px #333333;
}
/* line 41, ../sass/modules/_article.scss */
article ul li .box {
  margin-top: 20px;
  padding: 10px 20px 20px 20px;
  border-radius: 4px;
  border: none;
  background: #7997bc;
  box-shadow: 0 0 2px #033b40 inset;
}
/* line 48, ../sass/modules/_article.scss */
article ul li .box h3 {
  color: inherit;
  font-family: "TitilliumText22LRegular", sans-serif;
  font-weight: 300;
  font-size: 28px;
}
/* line 54, ../sass/modules/_article.scss */
article ul li .box p {
  color: white;
  line-height: 150%;
}
/* line 58, ../sass/modules/_article.scss */
article ul li .box p a {
  color: white;
  text-decoration: underline;
}
/* line 62, ../sass/modules/_article.scss */
article ul li .box p a:hover {
  color: #4a5d75;
}

/* line 74, ../sass/modules/_article.scss */
article.secondary {
  background: white;
  padding: 0;
  border-top: 1px solid #424242;
}
/* line 79, ../sass/modules/_article.scss */
article.secondary h1, article.secondary h2, article.secondary h3, article.secondary h4, article.secondary h5 {
  font-family: "TitilliumText22LRegular", sans-serif;
}
/* line 83, ../sass/modules/_article.scss */
article.secondary h1 {
  margin: 45px auto 30px auto;
  color: #4a5d75;
}
/* line 88, ../sass/modules/_article.scss */
article.secondary h2, article.secondary h3, article.secondary h4 {
  color: #656565;
}
/* line 92, ../sass/modules/_article.scss */
article.secondary h4 {
  font-size: 20px;
}
/* line 96, ../sass/modules/_article.scss */
article.secondary h5 {
  font-size: 18px;
}

/* line 10, ../sass/modules/_footer.scss */
footer {
  background: #111111;
  color: #777777;
  text-align: center;
  padding: 40px;
}
/* line 15, ../sass/modules/_footer.scss */
footer ul, footer li {
  float: none;
  position: relative;
}
/* line 19, ../sass/modules/_footer.scss */
footer ul {
  margin: 0 0 20px 0;
  padding-bottom: 20px;
  list-style-type: none;
}
/* line 23, ../sass/modules/_footer.scss */
footer ul li {
  display: inline-block;
  margin: 0 10px;
}
/* line 26, ../sass/modules/_footer.scss */
footer ul li a {
  color: #cccccc;
}
/* line 28, ../sass/modules/_footer.scss */
footer ul li a:hover {
  text-decoration: none;
  color: #29a3d0;
}



/* line 37, ../sass/modules/_footer.scss */
.redhatlogo {
  width: 76px;
  margin: auto;
}

.project-icon-med {
  float:left;
  margin:-1px 4px 0 -7px;
  display:block;
  padding-left:5px;
}

.project-icon-med {
  background: url(https://static.jboss.org/theme/images/icons/sprite-project-icons-all.png) no-repeat top left;
  float:left;
  margin:-1px 4px 0 0;
  display:block;
  height:16px;
  width:16px;
}

.blank_icon_16x{ background-position:0 0; width: 16px; height: 16px; }

.aerogear_icon_16x { background-position: 0 -1176px; width: 16px; height: 16px; }
.ashiaro_icon_16x{ background-position: 0 -1316px; width: 16px; height: 16px;}/* last one */
.apiviz_icon_16x{ background-position: 0 -1077px; width: 16px; height: 16px; }
.arquillian_icon_16x{ background-position: 0 -42px; width: 16px; height: 16px; }
.blacktie_icon_16x{ background-position: 0 -21px; width: 16px; height: 16px; }
.boxgrinder_icon_16x{ background-position: 0 -63px; width: 16px; height: 16px; }
.byteman_icon_16x{ background-position: 0 -1017px; width: 16px; height: 16px; }
.capedwarf_icon_16x{ background-position: 0 -1136px; width: 16px; height: 16px;  }
.ceylon_icon_16x{ background-position: 0 -1156px; width: 16px; height: 16px;  }
.cirras_icon_16x{ background-position: 0 -84px; width: 16px; height: 16px; }
.dna_icon_16x{ background-position: 0 -105px; width: 15px; height: 15px; }
.drools_icon_16x{ background-position: 0 -125px; width: 16px; height: 16px; }
.embeddedjopr_icon_16x{ background-position: 0 -146px; width: 16px; height: 16px; }
.errai_icon_16x{ background-position: 0 -167px; width: 16px; height: 16px; }
.escalante_icon_16x{ background-position: 0 -1256px; width: 16px; height: 16px;}
.forge_icon_16x { background-position: 0 -1196px; width: 16px; height: 16px; }
.gatein_icon_16x{ background-position: 0 -188px; width: 16px; height: 16px; }
.guvnor_icon_16x{ background-position: 0 -209px; width: 15px; height: 14px; }
.hibernate_icon_16x{ background-position: 0 -228px; width: 16px; height: 16px; }
.hornetQ_icon_16x{ background-position: 0 -249px; width: 16px; height: 16px; }
.infinispan_icon_16x{ background-position: 0 -270px; width: 16px; height: 16px; }
.ironjacamar_icon_16x{ background-position: 0 -291px; width: 16px; height: 16px; }
.jbossas7_icon_16x, .jbossas_icon_16x { background-position: 0 -1096px; width: 16px; height: 16px; }
.jbossmc_icon_16x{ background-position: 0 -312px; width: 16px; height: 16px; }
.jbossportal_icon_16x{ background-position: 0 -333px; width: 16px; height: 16px; }
.jbpm_icon_16x{ background-position: 0 -354px; width: 16px; height: 16px; }
.jdf_icon_16x{ background-position: 0 -1216px; width: 16px; height: 16px;}
.jgroups_icon_16x{ background-position: 0 -375px; width: 16px; height: 16px; }
.jopr_icon_16x{ background-position: 0 -396px; width: 16px; height: 14px; }
.jsfunit_icon_16x{ background-position: 0 -1116px; width: 16px; height: 16px; }
.mass_icon_16x{ background-position: 0 -415px; width: 17px; height: 15px; }
.mobicents_icon_16x{ background-position: 0 -435px; width: 16px; height: 16px; }
.modcluster_icon_16x{ background-position: 0 -996px; width: 16px; height: 16px; }
.modeshape_icon_16x{ background-position: 0 -456px; width: 16px; height: 16px; }
.narayana_icon_16x{ background-position: 0 -1037px; width: 16px; height: 16px; }
.netty_icon_16x{ background-position: 0 -1057px; width: 16px; height: 16px; }
.optaplanner_icon_16x{ background-position: 0 -1236px; width: 16px; height: 16px;}
.overlord_icon_16x{ background-position: 0 -477px; width: 16px; height: 16px; }
.papaki_icon_16x{ background-position: 0 -498px; width: 16px; height: 16px; }
.picketbox_icon_16x{ background-position: 0 -519px; width: 16px; height: 16px; }
.picketlink_icon_16x{ background-position: 0 -540px; width: 16px; height: 16px; }
.pressgang_icon_16x{ background-position: 0 -561px; width: 16px; height: 16px; }
.railo_icon_16x{ background-position: 0 -582px; width: 16px; height: 16px; }
.resteasy_icon_16x{ background-position: 0 -603px; width: 16px; height: 16px; }
.reststar_icon_16x{ background-position: 0 -624px; width: 16px; height: 16px; }
.richfaces_icon_16x{ background-position: 0 -645px; width: 16px; height: 16px; }
.riftsaw_icon_16x{ background-position: 0 -666px; width: 16px; height: 16px; }
.sam_icon_16x{ background-position: 0 -687px; width: 16px; height: 16px; }
.savara_icon_16x{ background-position: 0 -708px; width: 16px; height: 16px; }
.scribble_icon_16x{ background-position: 0 -729px; width: 16px; height: 16px; }
.seam_icon_16x{ background-position: 0 -750px; width: 16px; height: 16px; }
.shrinkwrap_icon_16x{ background-position: 0 -771px; width: 16px; height: 16px; }
.snowdrop_icon_16x{ background-position: 0 -792px; width: 16px; height: 16px; }
.switchyard_icon_16x{ background-position: 0 -813px; width: 16px; height: 16px; }
.tattletale_icon_16x{ background-position: 0 -834px; width: 16px; height: 16px; }
.teiid_icon_16x{ background-position: 0 -855px; width: 16px; height: 16px; }
.thermostat_icon_16x{ background-position: 0 -1296px; width: 16px; height: 16px;}
.tohu_icon_16x{ background-position: 0 -876px; width: 16px; height: 16px; }
.tools_icon_16x{ background-position: 0 -897px; width: 16px; height: 16px; }
.torquebox_icon_16x{ background-position: 0 -918px; width: 16px; height: 11px; }
.weld_icon_16x{ background-position: 0 -934px; width: 16px; height: 15px; }
.wildfly_icon_16x{ background-position: 0 -1276px; width: 16px; height: 16px;}
.wise_icon_16x{ background-position: 0 -954px; width: 16px; height: 16px; }
.xnio_icon_16x{ background-position: 0 -975px; width: 16px; height: 16px; }


body{
  padding-top: 0px;
}