// Resources
@import "bootstrap";
// @import "bootstrap/responsive"; // Adding at the bottom so we can tweak it
@import "compass/css3";
@import "compass/typography/lists/horizontal-list";
@import "compass/utilities/general/hacks";
@import "compass/support";

// Base Styles
$base_font: "TitilliumText22LRegular", sans-serif;
$base_font_weight: 400;

// Modules
@import "modules/fonts";
@import "modules/entypo";
@import "modules/nav";
@import "modules/header";
@import "modules/article";
@import "modules/footer";

.en-feather {@include en-icon(feather, $color: #fff)}
.en-rocket {@include en-icon(rocket, $color: #fff)}
.en-help {@include en-icon(help, $color: #fff)}
.en-tools {@include en-icon(tools, $color: #fff)}

ul, ol { margin:inherit;}

.project-icon-med {
     background: url(https://static.jboss.org/theme/images/icons/sprite-project-icons-all.png) no-repeat top left;
     //float:left;
     margin:-1px 4px 0 0;
     display:block;
     height:16px;
     width:16px;
   }

.project-icons ul {
  display: list-item;
  list-style-image: none;
}


.project-icons li {

  text-align: left;
  display: list-item;
  float: none;
  list-style-type: none;
  margin-top:10px;
  color: #000000;
}

.project-icon-listing {
  display: inline;
}

.blank_icon_16x{ background-position:0 0; width: 16px; height: 16px; }

.aerogear_icon_16x { background-position: 0 -1176px; width: 16px; height: 16px; }
.arquillian_icon_16x{ background-position: 0 -42px; width: 16px; height: 16px; }
.errai_icon_16x{ background-position: 0 -167px; width: 16px; height: 16px; }
.forge_icon_16x { background-position: 0 -1196px; width: 16px; height: 16px; }
.hibernate_icon_16x{ background-position: 0 -228px; width: 16px; height: 16px; }
.hornetQ_icon_16x{ background-position: 0 -249px; width: 16px; height: 16px; }
.infinispan_icon_16x{ background-position: 0 -270px; width: 16px; height: 16px; }
.jbossas7_icon_16x, .jbossas_icon_16x { background-position: 0 -1096px; width: 16px; height: 16px; }
.jdf_icon_16x{ background-position: 0 -1216px; width: 16px; height: 16px;}
.jgroups_icon_16x{ background-position: 0 -375px; width: 16px; height: 16px; }
.jsfunit_icon_16x{ background-position: 0 -1116px; width: 16px; height: 16px; }
.modcluster_icon_16x{ background-position: 0 -996px; width: 16px; height: 16px; }
.narayana_icon_16x{ background-position: 0 -1037px; width: 16px; height: 16px; }
.netty_icon_16x{ background-position: 0 -1057px; width: 16px; height: 16px; }
.picketbox_icon_16x{ background-position: 0 -519px; width: 16px; height: 16px; }
.picketlink_icon_16x{ background-position: 0 -540px; width: 16px; height: 16px; }
.resteasy_icon_16x{ background-position: 0 -603px; width: 16px; height: 16px; }
.richfaces_icon_16x{ background-position: 0 -645px; width: 16px; height: 16px; }
.torquebox_icon_16x{ background-position: 0 -918px; width: 16px; height: 11px; }
.weld_icon_16x{ background-position: 0 -934px; width: 16px; height: 15px; }
.wildfly_icon_16x{ background-position: 0 -1276px; width: 16px; height: 16px;}
.wise_icon_16x{ background-position: 0 -954px; width: 16px; height: 16px; }

// Many fixes... sigh
@import "bootstrap/responsive-utilities";
// Large desktops
@import "bootstrap/responsive-1200px-min";

// Tablets to regular desktops
@import "bootstrap/responsive-768px-979px";

// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------

@media (max-width: 767px) {

  // Padding to set content in a bit
  // We don't want this on wildfly -- Jason Porter
  //body {
    //padding-left: 20px;
    //padding-right: 20px;
  //}

  // Really just fixes for the boxes
  article ul li .box h3 {
    line-height: 1em;
  }
  // Negative indent the now static "fixed" navbar
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: -20px;
    margin-right: -20px;
  }
  // Remove padding on container given explicit padding set on body
  .container-fluid {
    padding: 0;
  }

  // TYPOGRAPHY
  // ----------
  // Reset horizontal dl
  .dl-horizontal {
    dt {
      float: none;
      clear: none;
      width: auto;
      text-align: left;
    }
    dd {
      margin-left: 0;
    }
  }

  // GRID & CONTAINERS
  // -----------------
  // Remove width from containers
  .container {
    width: auto;
  }
  // Fluid rows
  .row-fluid {
    width: 100%;
  }
  // Undo negative margin on rows and thumbnails
  .row,
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails > li {
    float: none;
    margin-left: 0; // Reset the default margin for all li elements when no .span* classes are present
  }
  // Make all grid-sized elements block level again
  [class*="span"],
  .uneditable-input[class*="span"], // Makes uneditable inputs full-width when using grid sizing
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    @include box-sizing(border-box);
  }
  .span12,
  .row-fluid .span12 {
    width: 100%;
    @include box-sizing(border-box);
  }
  .row-fluid [class*="offset"]:first-child {
    margin-left: 0;
  }

  // FORM FIELDS
  // -----------
  // Make span* classes full width
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    @include input-block-level();
  }
  // But don't let it screw up prepend/append inputs
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block; // redeclare so they don't wrap to new lines
    width: auto;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }

  // Modals
  .modal {
    position: fixed;
    top:   20px;
    left:  20px;
    right: 20px;
    width: auto;
    margin: 0;
    &.fade  { top: -100px; }
    &.fade.in { top: 20px; }
  }

}



// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px) {

  // Smooth out the collapsing/expanding nav
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0); // activate the GPU
  }

  // Block level the page header small tag for readability
  .page-header h1 small {
    display: block;
    line-height: $baseLineHeight;
  }

  // Update checkboxes for iOS
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }

  // Remove the horizontal form styles
  .form-horizontal {
    .control-label {
      float: none;
      width: auto;
      padding-top: 0;
      text-align: left;
    }
    // Move over all input controls and content
    .controls {
      margin-left: 0;
    }
    // Move the options list down to align with labels
    .control-list {
      padding-top: 0; // has to be padding because margin collaspes
    }
    // Move over buttons in .form-actions to align with .controls
    .form-actions {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  // Medias
  // Reset float and spacing to stack
  .media .pull-left,
  .media .pull-right  {
    float: none;
    display: block;
    margin-bottom: 10px;
  }
  // Remove side margins since we stack instead of indent
  .media-object {
    margin-right: 0;
    margin-left: 0;
  }

  // Modals
  .modal {
    top:   10px;
    left:  10px;
    right: 10px;
  }
  .modal-header .close {
    padding: 10px;
    margin: -10px;
  }

  // Carousel
  .carousel-caption {
    position: static;
  }

}


// RESPONSIVE NAVBAR
// ------------------

// From 979px and below, show a button to toggle navbar contents
@import "bootstrap/responsive-navbar";

