.conference {
  .c-when-and-where {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;

    dt {
      font-weight: 600;
      grid-column: 1;
      text-align: right;
    }

    dd {
      grid-column: 2;
      margin: 0;
    }
  }

  .c-session {
    background-color: $blue;
    display: flex;
    padding: 2rem 1rem;

    &:not(:last-of-type){
      border-bottom: 1px solid white;
    }
  }

  .c-session-gray {
    background-color: $gray-2;
  }

  .c-time {
    display: flex;
    flex-direction: row;
    margin-right: 3rem;

    @media (max-width: $breakpoint-m) {
      flex-direction: column;
      margin-right: 2rem;
    }
  }

  .c-from, .c-to {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    opacity: 0.5;

    @media (max-width: $breakpoint-m) {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }

  .c-from {
    white-space: nowrap;
    &:after {
      content: " - ";
    }

    @media (max-width: $breakpoint-m) {
      &:after {
        content: none;
        white-space: normal;
      }
    }
  }

  .c-local-time:popover-open {
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0 !important;
    padding: 0.25rem;
    text-wrap: balance;

    @media (max-width: $breakpoint-m) {
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }

  .c-session-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .c-title {
    font-size: 2rem;
    font-weight: 100;
    line-height: 2rem;

    @media (max-width: $breakpoint-m) {
      font-size: 1.5rem;
    }
  }

  .c-abstract {
    line-height: 1.2rem;
  }

  .c-speaker {
    align-items: center;
    align-self: end;
    display: flex;

    @media (max-width: $breakpoint-m) {
      flex-direction: column;
    }
  }

  .c-speaker-name {
    font-size: smaller;
    font-weight: 100;
    margin-right: 0.5rem;
    opacity: .5;
    text-align: right;

    @media (max-width: $breakpoint-m) {
      margin-right: 0;
      margin-top: 0.2rem;
      order: 2;
      text-align: center;
    }
  }

  .c-speaker-avatar {
    @media (max-width: $breakpoint-m) {
      order: 1;
    }
  }
}
