.conference {
  .c-when-and-where {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;

    dt {
      font-weight: 600;
      grid-column: 1;
      text-align: right;
    }

    dd {
      grid-column: 2;
      margin: 0;
    }
  }

  .c-session {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "time title"
      "time abstract"
      "avatar bio";
    grid-column-gap: 3rem;
    padding: 2rem 1rem;

    &:not(:last-of-type){
      border-bottom: 1px solid white;
    }
  }

  .c-session-gray {
    background-color: $gray-2;
  }

  .c-session-blue {
    background-color: $blue;
  }

  .c-time {
    display: flex;
    flex-direction: row;
    grid-area: time;

    @media (max-width: $breakpoint-m) {
      flex-direction: column;
      margin-right: 2rem;
    }
  }

  .c-from, .c-to {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    opacity: 0.5;

    @media (max-width: $breakpoint-m) {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }

  .c-from {
    white-space: nowrap;
    &:after {
      content: " - ";
    }

    @media (max-width: $breakpoint-m) {
      &:after {
        content: none;
        white-space: normal;
      }
    }
  }

  .c-local-time:popover-open {
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0 !important;
    padding: 0.25rem;
    text-wrap: balance;

    @media (max-width: $breakpoint-m) {
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }

  .c-title {
    font-size: 2rem;
    font-weight: 100;
    grid-area: title;
    line-height: 2rem;

    @media (max-width: $breakpoint-m) {
      font-size: 1.5rem;
    }
  }

  .c-abstract {
    grid-area: abstract;
    line-height: 1.2rem;
  }

  .c-speaker-avatar {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: avatar;

    @media (max-width: $breakpoint-m) {
      order: 1;
    }
  }

  .c-speaker-bio {
    align-self: center;
    font-size: 0.9rem;
    font-weight: 100;
    opacity: 0.6;
    grid-area: bio;
  }
}
