// Structure

div#subtheme {
  background: #ddd;
  color: black;
  text-align: center;
  padding: 20px;
  ul, li {
    float: none;
    position: relative;
    margin: 0px 0px 0px 0px;
  }
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      margin: 0 10px;
      .btn-small {
        text-shadow: none;
        border: none;
        color: #fff;
        padding: 15px;
        @include box-shadow(rgba(0, 0, 0, 0.5) 0 0 2px inset);
        &:hover {
          background-position: 0;
        }
      }
      .theme-default {
        background: #3079a0;
        &:hover {
          background-color: #256c93;
        }
      }
      .sub-theme-dark {
        background: #1a1a1a;
        &:hover {
          background-color: #2a2a2a;
        }
      }
      .sub-theme-light {
        background: #f4f4f4;
        color: black;
        &:hover {
          background-color: #fff;
        }
      }
      .sub-theme-red{
        background: #610B0B;
        &:hover {
          background-color: #7d1919;
        }
      }
      .sub-theme-tan {
        background: #e2dace;
        color: black;
        &:hover {
          background-color: #F1EAE1;
        }
      }
      p {
        a {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
