// Sass integration for Entypo v2.0
//   https://github.com/rstacruz/sass_icon_fonts
//
// Website: http://www.entypo.com/
//
// Font files:
//   http://www.entypo.com/css/entypo.eot
//   http://www.entypo.com/css/entypo.svg
//   http://www.entypo.com/css/entypo.woff
//   http://www.entypo.com/css/entypo.ttf

$icon-url: url('../images/icon_sprite.png');
$icon-url-mobile: url('../images/icon_sprite_sm.png');

.en-rocket {width: 100px; height: 100px; display: block; margin: 0 auto; background: $icon-url;}
.en-feather {width: 100px; height: 100px; display: block; margin: 0 auto; background: $icon-url 0px 300px;}
.en-tools {width: 100px; height: 100px; display: block; margin: 0 auto; background: $icon-url 0px 200px;}
.en-help {width: 100px; height: 100px; display: block; margin: 0 auto; background: $icon-url 0px 100px;}

@media (max-width: 767px) {
  .en-rocket {width: 55px; height: 55px; display: block; margin: 0 auto; background: $icon-url-mobile;}
  .en-feather {width: 55px; height: 55px; display: block; margin: 0 auto; background: $icon-url-mobile 0px 165px;}
  .en-tools {width: 55px; height: 55px; display: block; margin: 0 auto; background: $icon-url-mobile 0px 110px;}
  .en-help {width: 55px; height: 55px; display: block; margin: 0 auto; background: $icon-url-mobile 0px 55px;}
}
