---
layout: base
---

<div class="about-page grid-wrapper">
  <div class="grid__item width-12-12">
    <h1>About the Wild<strong>Fly</strong> Project</h1>
    <h2 class="page-subtitle">Wild<strong>Fly</strong> is a flexible, lightweight, managed application runtime that helps you build amazing applications.</h2>
  </div>
  <div class="grid__item width-12-12 sec-title-red">
    <h2>SAVE TIME WITH FASTER DEVELOPMENT</h2>
    <p>Wild<strong>Fly</strong> supports the latest standards for REST based data access, including JAX-RS 2, and JSON-P.<br/><br/>Building on Jakarta EE provides rich enterprise capabilities in easy to consume frameworks that eliminate boilerplate and reduce technical burden.<br/>The quick boot of Wild<strong>Fly</strong> combined with the easy-to-use Arquillian framework allows for test driven development using the real environment your code will be running in. Your test code is separate and simply deployed along side your application where it has full access to server resources.</p>
  </div>
  <div class="grid__item width-12-12 sec-title-yellow">
    <h2>SAVE RESOURCES WITH EFFICIENT MANAGEMENT</h2>
    <p>Wild<strong>Fly</strong> takes an aggressive approach to memory management and is based on pluggable subsystems that can be added or removed as needed.<br/><br/>The quick boot of Wild<strong>Fly</strong> combined with the easy-to-use Arquillian framework allows for test driven development using the real environment your code will be running in. Your test code is separate and simply deployed along side your application where it has full access to server resources.<br/><br/>Configuration in Wild<strong>Fly</strong> is centralized, simple and user-focused. The configuration file is organized by subsystems that you can easily comprehend and no internal server wiring is exposed. Subsystems use intelligent defaults, but can still be customized to best fit your needs. If you are running in domain mode, the configuration for all servers participating in the domain is specified in a well-organized manner within the same file.</p>
  </div>
  <div class="grid__item width-12-12 sec-title-teal">
    <h2>SAVE MONEY WITH OPEN SOURCE</h2>
    <p>Wild<strong>Fly</strong> is an open source community project sponsored by Red Hat(TM) and is available for use and distrubution under the LGPL v2.1 license meaning that it’s available for you to download and use at no cost. This allows organizations like yours to develop amazing new technologies and federates the tech world to allow successful startups to come from anywhere.<br/><br/>When your organization needs guaranteed stability and support, and is ready for the big-leagues you should check out the <a href="https://www.redhat.com/en/technologies/jboss-middleware/application-platform" target="_blank">Red Hat Enterprise Application Platform (EAP)</a>. A <a href="https://developers.redhat.com/products/eap/download/" target="_blank">no-cost license of Red Hat EAP</a> is available for 1-year at no-cost for a non-production development environment.</p>
  </div>
</div>
