---
layout: base
---

<div class="news-page grid-wrapper">
    <div class="grid__item width-10-12">
        <h1 class="title">Contributor PGP Information</h1>
    </div>

    <div class="grid__item width-10-12 width-12-12-m">
        {% assign contributors = site.data.contributors | sort: 'name' %}
        {% for contributor in contributors %}
        {% assign author = site.data.authors[contributor.contributor] %}
        <div class="grid__item width-2-12 contributor-row">
            <h2 id="{{ contributor.contributor }}">
                {% if author.avatar %}
                <a class="anchor" href="#{{ contributor.contributor }}"><img class="avatar" src="/assets/img/authors/{{ author.avatar }}"/></a>
                {% else %}
                <a class="anchor" href="#{{ contributor.contributor }}"><img class="avatar" src="/assets/img/contribute/wildfly_icons_contribute-images.png"/></a>
                {% endif %}
                {{ contributor.name }}</h2>
            <div class="social-icons">
                {% if contributor.github %}
                <a href="https://github.com/{{ contributor.github }}"><img title="GitHub"
                                                                      src="/assets/img/homepage/wildfly_icons_home-github.png"/></a>
                {% endif %}
            </div>
            <p>{{ contributor.bio }}</p>
            {% if contributor.signing %}
            <div>
                <h4>Signing Details:</h4>
                <table>
                    {% for signing in contributor.signing %}
                    <tr class="separator">
                        <td class="contributor-label">Public Key Id</td>
                        <td class="copy-text">{{ signing.pgp.id }}</td>
                    </tr>
                    <tr>
                        <td class="contributor-label">Public Key</td>
                        {% if signing.pgp.link %}
                        <td class="copy-text"><a href="{{ signing.pgp.link }}" target="_blank">{{ signing.pgp.key }}</a></td>
                        {% else %}
                        <td>{{ signing.pgp.key }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="contributor-label">Fingerprint</td>
                        <td class="copy-text">{{ signing.pgp.fingerprint }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <div class="grid__item width-2-12"></div>
</div>