---
layout: base
---

<div class="contribute-page grid-wrapper">
  <div class="grid__item width-12-12">
    <h1>Get Involved with Wild<strong>Fly</strong></h1>
    <h2 class="page-subtitle">Wild<strong>Fly</strong> relies on contributions from people like you. Here are some ways you can help out today!</h2>
  </div>
  <div class="grid__item width-4-12 width-6-12-m contribute-item">
    <img src="{{site.baseurl}}/assets/img/contribute/wildfly_icons_contribute-download.png" />
    <h3>Download Wild<strong>Fly</strong></h3>
    <p>Did we mention that Wild<strong>Fly</strong> is free? <a href="{{site.baseurl}}/downloads">Download</a> today and see what we’ve been working on all this time.</p>
  </div>
  <div class="grid__item width-4-12 width-6-12-m contribute-item">
    <img src="{{site.baseurl}}/assets/img/contribute/wildfly_icons_contribute-twitter.png" />
    <h3>Follow Wild<strong>Fly</strong> on Twitter</h3>
    <p>Most of our updates go out on <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a>. Sometimes our project team speaks at industry events, and sometimes they post cool ways people use Wild<strong>Fly</strong>. Wash, rinse, and retweet.</p>
  </div>
  <div class="grid__item width-4-12 width-6-12-m contribute-item">
    <img src="{{site.baseurl}}/assets/img/contribute/wildfly_icons_contribute-bug.png" />
    <h3>Submit a bug</h3>
    <p>Let us know if you find something that needs to be fixed. Wild<strong>Fly</strong> is for everyone and we want it to be great, so please <a href="https://issues.jboss.org/browse/WFLY" target="_blank">create a ticket</a> and let us know what happened.</p>
  </div>
  <div class="grid__item width-4-12 width-6-12-m contribute-item">
    <img src="{{site.baseurl}}/assets/img/contribute/wildfly_icons_contribute-editsite.png" />
    <h3>Edit this website</h3>
    <p>This website is open-source, too! If you see something you want to change <a href="https://github.com/wildfly/wildfly.org/fork" target="_blank">fork it</a>, make some changes, and show us what you’ve got!</p>
  </div>
  <div class="grid__item width-4-12 width-6-12-m contribute-item">
    <img src="{{site.baseurl}}/assets/img/contribute/wildfly_icons_contribute-blog.png" />
    <h3>Blog with us</h3>
    <p>Share your projects and ideas! Write up your experience in the form of an editorial or how-to, take some screenshots, and then <a href="https://github.com/wildfly/wildfly.org/fork" target="_blank">fork the website</a>. We use <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">markdown</a> and <a href="http://asciidoc.org/" target="_blank">AsciiDoc</a>, so you can submit your post as a pull request.</p>
  </div>
  <div class="grid__item width-4-12 width-6-12-m contribute-item">
    <img src="{{site.baseurl}}/assets/img/contribute/wildfly_icons_contribute-code.png" />
    <h3>Submit some code</h3>
    <p>Check our <a href="https://issues.jboss.org/browse/WFLY" target="_blank">issue tracker</a> for an open ticket that looks interesting, <a href="https://github.com/wildfly/wildfly/fork">fork the project</a>, and code away.</p>
  </div>
  <div class="grid__item width-4-12 width-6-12-m contribute-item">
    <img src="{{site.baseurl}}/assets/img/contribute/wildfly_icons_contribute-forums.png" />
    <h3>Join our chatroom</h3>
    <p>Our project team has an active and open <a href="{{site.chatroom_url}}" target="_blank">chatroom</a> where you can listen in and ask questions. Stop by and say hello, but keep in mind that basic rules of civility apply.</p>
  </div>
  <div class="grid__item width-4-12 width-6-12-m contribute-item">
    <img src="{{site.baseurl}}/assets/img/contribute/wildfly_icons_contribute-docs.png" />
    <h3>Edit the Documentation</h3>
    <p>Help us help everyone. Let us know if you find a typo or an error. We’re human too, and your input is valuable.</p>
  </div>
  <div class="grid__item width-4-12 width-6-12-m contribute-item">
    <img src="{{site.baseurl}}/assets/img/contribute/wildfly_icons_contribute-support.png" />
    <h3>Help somebody out</h3>
    <p>If you run into a problem, you’re probably not the first or the last to try to solve it. Check out our <a href="{{site.forum_url}}" target="_blank">forums</a> and post a question and maybe a few answers.</p>
  </div>
  <div class="grid__item width-4-12 width-6-12-m contribute-item">
    <img src="{{site.baseurl}}/assets/img/contribute/wildfly_icons_contribute-images.png" />
    <h3>Draw a picture</h3>
    <p>A picture really can be worth 1,000 words. If you’re a designer or an artist and want to help us turn some of our ideas into illustrations please make something awesome and show us what you can do.</p>
  </div>
  <div class="grid__item width-4-12 width-6-12-m contribute-item">
    <img src="{{site.baseurl}}/assets/img/contribute/wildfly_icons_contribute-share.png" />
    <h3>Spread the word</h3>
    <p>The simplest and easiest way to help the Wild<strong>Fly</strong> community is to act as a project ambassador, follow us on Twitter, and show up to community events in your area.</p>
  </div>
  </div>
</div>
