---
layout: base
---

<div class="news-page grid-wrapper">
  <div class="grid__item width-10-12">
    <h1 class="title">Wild<strong>Fly</strong> Releases</h1>
  </div>
  <div class="grid__item width-2-12 rss-btn">
    <a href="{{site.baseurl}}/feed.xml"><i class="fas fa-rss-square"></i></a>
  </div>


  <div class="grid__item width-10-12 width-12-12-m">
      {% for post in site.posts %}
        {% if post.tags contains 'release' and post.tags  contains 'announcement' %}
          {% assign author = "" | split: ',' %}
            {% for a in post.author %}
              {% assign author = author | push: site.data.authors[a].name %}
            {% endfor %}
      <div class="news-list-item grid-wrapper">
        <div class="post-title grid__item width-12-12">
          <h2><a href="{% if post.link %}{{ post.link }}{% else %}{{site.baseurl}}{{ post.url }}{% endif %}" {% if post.link %}target="_blank"{% endif %}>{{ post.title }}</a></h2>
        </div>
        <div class="grid__item width-6-12 width-12-12-m">
          <p class="byline">By {{ author | join: ', ' }} | {{ post.date | date: '%B %d, %Y' }}</p>
        </div>
        <div class="grid__item width-6-12 width-12-12-m">{% include share-page.html %}</div>
        <div class="grid__item width-12-12">
          {% if post.synopsis %}
            <p>{{ post.synopsis | strip_html }}</p>
          {% else %}
            <p>{{ post.content | strip_html | truncatewords: 75 }}</p>
          {% endif %}
        </div>
        <div class="grid__item width-12-12"><a href="{% if post.link %}{{ post.link }}{% else %}{{site.baseurl}}{{ post.url }}{% endif %}" {% if post.link %}target="_blank"{% endif %}>{% if post.link contains 'youtube' %}Watch Video >{% else %}Read More >{% endif %}</a></div>
      </div>
        {% endif %}
      {% endfor %}
  </div>

  <div class="grid__item width-2-12"></div>
</div>


